{% if settings.products_per_row == "3" or settings.products_per_row == 3 %}
  {% assign grid_item_width = 'large--col-4 medium-down--col-6' %}
{% endif %}

{% unless grid_item_width %}
  {% assign grid_item_width = 'large--col-3 medium-down--col-6' %}
{% endunless %}

<div class="grid-item {{ grid_item_width }}{% unless product.available %} sold-out{% endunless %}">
  <div class="coll">
    <div class="coll-image-wrap">
      <a href="{{ product.url | within: collection }}">
      {% if product.available == false %}
        {% if settings.show_sold_out_rondel %}
        <span class="sold-out-overlay" href="{{ product.url | within: collection }}">
          <span><em>{{ 'collections.product_item.sold_out_text' | t }}</em></span>
        </span>
        {% endif %}
      {% elsif product.compare_at_price > product.price and settings.show_sale_rondel %}
        <span class="sale-overlay" href="{{ product.url | within: collection }}">
          <span><em>{{ 'collections.product_item.sale_text' | t }}</em></span>
        </span>
      {% endif %}
        <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
      </a>
    </div><!-- .coll-image-wrap -->

    <div class="coll-prod-caption">

      <div class="coll-prod-meta {% unless settings.show_buy_medallion %}no-medallion{% endunless %}">
        <h5><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h5>
        {% assign price = product.price | money %}
        {% if product.compare_at_price > product.price %}
        <p class="coll-prod-price on-sale">
          {% if product.price_varies %}{{ 'collections.product_item.from_text_html' | t: price: price }}{% else %}{{ price }}{% endif %}
          <em class="compare-at-price">{{ product.compare_at_price | money }}</em>
        </p>
        {% else %}
        <p class="coll-prod-price">
          {% if product.price_varies %}{{ 'collections.product_item.from_text_html' | t: price: price }}{% else %}{{ price }}{% endif %}
          
        </p>
        {% endif %}
      </div><!-- .coll-prod-meta -->
      {% if settings.show_buy_medallion %}
      <div class="coll-prod-buy {% unless product.available %} disabled{% endunless %}">
        <a href="{{ product.url | within: collection }}">
          {% if product.available %}{{ 'collections.product_item.buy_text' | t }}{% else %}{{ 'collections.product_item.sold_out_text' | t }}{% endif %}
        </a>
      </div>
      {% endif %}
    </div><!-- .coll-prod-caption -->
  </div>
</div>

