{% comment %}

  This snippet is used to showcase each collection during the loop,
  'for product in collection.products' in list-collections.liquid.

  Use with theme settings:
  {% if settings.social_sharing_blog %}
    {% include 'social-sharing' %}
  {% endif %}

{% endcomment %}
{% if template contains 'article' or template contains 'blog' %}
  {% capture permalinkURL %}{{ shop.url }}{{ article.url }}{% endcapture %}
  {% capture shareTitle %}{{ article.title | url_param_escape }}{% endcapture %}
  {% capture shareImage %}{{ article | img_url: '1024x1024' }}{% endcapture %}

{% elsif template contains 'product' %}
  {% capture permalinkURL %}{{ shop.url }}{{ product.url }}{% endcapture %}
  {% capture shareTitle %}{{ product.title | url_param_escape }}{% endcapture %}
  {% capture shareImage %}{{ product | img_url: '1024x1024' }}{% endcapture %}

{% elsif template == 'password' %}
  {% capture permalinkURL %}{{ shop.url }}{% endcapture %}
  {% capture shareTitle %}{% unless shop.metafields.global.description_tag == blank %}{{ shop.metafields.global.description_tag | url_param_escape }}{% else %}{{ shop.name | url_param_escape }}{% endunless %}{% endcapture %}
{% endif %}

{% assign shareButtonStyle = settings.social_sharing_style %}

<div class="social-sharing {{ shareButtonStyle }}" data-permalink="{{ permalinkURL }}">

  {% if settings.share_facebook %}
    <a target="_blank" href="//www.facebook.com/sharer.php?u={{ permalinkURL }}" class="share-facebook">
      <span class="icon icon-facebook"></span>
      <span class="share-title">Share</span>
      {% if settings.social_sharing_count %}
        <span class="share-count">0</span>
      {% endif %}
    </a>
  {% endif %}

  {% if settings.share_twitter %}
    <a target="_blank" href="//twitter.com/share?text={{ shareTitle }}&amp;url={{ permalinkURL }}" class="share-twitter">
      <span class="icon icon-twitter"></span>
      <span class="share-title">Tweet</span>
    </a>
  {% endif %}

  {% if product.featured_image or article.image %}

    {% if settings.share_pinterest %}
      <a target="_blank" href="//pinterest.com/pin/create/button/?url={{ permalinkURL }}&amp;media=http:{{ shareImage }}&amp;description={{ shareTitle }}" class="share-pinterest">
        <span class="icon icon-pinterest"></span>
        <span class="share-title">Pin it</span>
        {% if settings.social_sharing_count %}
          <span class="share-count">0</span>
        {% endif %}
      </a>
    {% endif %}

    {% if settings.share_fancy %}
      <a target="_blank" href="//fancy.com/fancyit?ItemURL={{ permalinkURL }}&amp;Title={{ shareTitle }}&amp;Category=Other&amp;ImageURL={{ shareImage }}" class="share-fancy">
        <span class="icon icon-fancy"></span>
        <span class="share-title">Fancy</span>
      </a>
    {% endif %}

  {% endif %}

  {% if settings.share_google %}
    <a target="_blank" href="//plus.google.com/share?url={{ permalinkURL }}" class="share-google">
      <!-- Cannot get Google+ share count with JS yet -->
      <span class="icon icon-google"></span>
      {% if settings.social_sharing_count %}
        <span class="share-count">+1</span>
      {% else %}
        <span class="share-title">+1</span>
      {% endif %}
    </a>
  {% endif %}

</div>

